@use "../../../styles/globalStyle" as style;

.screenErrorContainer {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 500px;
}

.errorScreenContent {
  display: grid;
  place-items: center;
  gap: 10px;
  font-size: 40px;
  color: rgb(209, 15, 15);
  h2 {
    font-size: 24px;
    text-align: center;
    color: rgb(209, 15, 15);
  }
}
